/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/bg.jpg);
}

/* Estilo del encabezado */
header {
    background-color: #d45c17;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header a {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-top: -30px;
    margin-right: 15px;
}

header a:hover {
    text-decoration: underline;
}

/* Estilos principales */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #695347b0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form select {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 15px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #d45c17;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #038607;
}
